.cards
  width: 80%
  margin: 0 auto
  &-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
      display: flex
      flex-direction: column
      width: 112px
      border: 0.5px solid black
      margin-bottom: 20px
      margin-right: 30px
      &__img
        display: block
        margin: 0 auto
        width: 110px
        height: 110px        
      &__id
        text-align: center
        margin: 10px
        font-size: 14px
      &__subtitle
